<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
<link href="../css/bootstrap.css" rel="stylesheet">
<link href="../css/bootstrap-theme.css" rel="stylesheet">
<script src="../js/commons.js"></script>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.freezeheader.js"></script>
<script src="../js/jquery.tablescroll.js"></script>
<script>
	$(document).ready(
			function() {
				$.post(data_service + "dataservice/getconfig.do?id=10&today=" + yyyyMMdd() + "&detailskey=today_hour", function(data) {
					var rst = eval(data);
					var values = rst.details.today_hour.values;
					for ( var i in values) {
						var cls = "active";
						if (i % 2 == 0) {
							cls = "";
						}
						var time_name = values[i].time_key.toString().substr(8, 10);
						if (parseInt(HH()) < parseInt(time_name)) {
							continue;
						}
						var register_count = values[i].register_count;
						var deal_count = values[i].deal_count;
						var deal_amount = values[i].deal_amount;
						var tr = $('<tr class='+cls+'><th scope="row">' + time_name + '</th><td>' + register_count + '</td><td>' + deal_count + '</td><td>'
								+ deal_amount + '</td><td>' + deal_count + '</td><td>' + deal_count + '</td><td>' + deal_count + '</td><td>' + deal_count
								+ '</td><td>' + deal_count + '</td><td>' + deal_count + '</td><td>' + deal_count + '</td><td>' + deal_count + '</td><td>'
								+ deal_count + '</td><td>' + deal_count + '</td></tr>');
						$("#mytable > tbody").append(tr);
					}
					$('#mytable').tableScroll({
						width : 1500,
						height : 400
					});
				});
			});
</script>
</head>
<body>
	<table id="mytable" class="table table-bordered table-striped" style="width: 1500px;">
		<thead class="header">
			<tr height="40" class="active">
				<th width="100">小时</th>
				<th width="100">注册人数</th>
				<th width="100">交易人数</th>
				<th width="100">交易额(万元)</th>
				<th width="100">交易额(万元)</th>
				<th width="100">交易额(万元)</th>
				<th width="100">交易额(万元)</th>
				<th width="100">交易额(万元)</th>
				<th width="100">交易额(万元)</th>
				<th width="100">交易额(万元)</th>
				<th width="100">交易额(万元)</th>
				<th width="100">交易额(万元)</th>
				<th width="100">交易额(万元)</th>
				<th width="100">交易额(万元)</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</body>
</html>