<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
<link href="../css/commons.css" rel="stylesheet">
<link href="../css/font-awesome.css" rel="stylesheet">
<link href="../css/bootstrap.css" rel="stylesheet">
<!-- 
<link href="../css/bootstrap-theme.css" rel="stylesheet">
 -->
<link href="../css/jquery.dataTables.min.css" rel="stylesheet">
<!-- 
<link href="../css/fixedColumns.dataTables.min.css" rel="stylesheet">
 -->
<link href="../css/mobiscroll.custom-2.17.2.min.css" rel="stylesheet">
<!-- 
<script src="../js/bootstrap.min.js"></script>
 -->
<!-- 
<script src="../js/dataTables.fixedColumns.min.js"></script>
 -->
<!-- 
<link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/fixedcolumns/3.2.2/css/fixedColumns.dataTables.min.css" rel="stylesheet">
 -->
<!-- 
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"></script>
 -->
<style>
th, td {
	white-space: nowrap;
	text-align: right;
}

div.dataTables_wrapper {
	margin: 0 auto;
}

div.top_container {
	width: 100%;
	display: table
}

div.top_left, div.top_mid, div.top_right {
	display: table-cell;
}

div.top_mid {
	width: 100%;
}

div.top_left, div.top_right {
	padding-left: 15px;
	padding-right: 15px;
	white-space: nowrap;
}
</style>
<script src="../js/commons.js"></script>
<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.dataTables.min.js"></script>
<script src="../js/mobiscroll.custom-2.17.2.min.js"></script>
<script src="../js/xdate.dev.js"></script>
<script>
	var width = $(window).width();
	var height = $(window).height();
	var table;
	var lock = false;
	window.onload = function() {
		//width = width > $('#example').width() ? $('#example').width() : width;
		//var thead = $('<tr><th>小时</th><th>注册人数</th><th>交易人数</th><th>交易额(万元)</th><th>交易额2(万元)</th><th>交易额3(万元)</th><th>交易额4(万元)</th><th>交易额5(万元)</th><th>交易额6(万元)</th><th>交易额7(万元)</th><th>交易额8(万元)</th><th>交易额9(万元)</th><th>交易额11(万元)</th><th>交易额11(万元)</th></tr>');
		//$("#example>thead").append(thead);
		//$("#example").width(width);
		$('#datepicker').mobiscroll().date({
			theme : 'mobiscroll',
			lang : 'zh',
			display : 'bottom',
			minDate : new Date(2016, 2, 15),
			maxDate : new Date()
		});
		$('#datepicker').attr('placeholder', $util.yyyy_MM_dd() + ' (请点击此处选择日期)');
		$("#datepicker").change(function() {
			/*var date_value = $(this).va l();
			var y = date_value.substr(0, 4);
			var m = parseInt(date_value.substr(5, 2)) - 1;
			var d = date_value.substr(8, 2) ;*/
			//referData(new Date(y, m, d));
			referData();
		});
		$("div.top_left").click(function() {
			var date_value = $("#datepicker").val() != "" ? $("#datepicker").val() : $util.yyyy_MM_dd();
			if (date_value == "2016-03-15") {
				return;
			}
			$("#datepicker").val(new XDate(date_value).addDays(-1).toString("yyyy-MM-dd"));
			$("#datepicker").change();
		});
		$("div.top_right").click(function() {
			var date_value = $("#datepicker").val() != "" ? $("#datepicker").val() : $util.yyyy_MM_dd();
			if (date_value == $util.yyyy_MM_dd()) {
				return;
			}
			$("#datepicker").val(new XDate(date_value).addDays(1).toString("yyyy-MM-dd"));
			$("#datepicker").change();
		});
		//width = width > $('#example').width() ? $('#example').width() : width;
		//$("#example").width(width);
		//$("div.dataTables_wrapper").width(width);
		table = $('#example').DataTable({});
		referData();
	};

	var referTable = function() {
		// table.destroy();
		// 绑定table
		table = $('#example').DataTable({
			destroy : true,
			bAutoWidth : true,
			scrollY : height - 80,
			scrollX : true,
			scrollCollapse : true,
			scroller : true,
			paging : false,
			"searching" : false,
			info : false,
			fixedColumns : {
				leftColumns : 1
			},
			"order" : [ [ 0, "desc" ] ],
			"aoColumns" : [ {
				"orderSequence" : [ "desc", "asc" ]
			}, {
				"orderSequence" : [ "desc", "asc" ]
			}, {
				"orderSequence" : [ "desc", "asc" ]
			}, {
				"orderSequence" : [ "desc", "asc" ]
			} ]
		});
	};

	var isToday = function() {
		return $("#datepicker").val() == "" ? true : new XDate($("#datepicker").val()).toString("yyyyMMdd") == new XDate().toString("yyyyMMdd");
	};

	var referData = function() {
		if (lock) {
			return;
		}
		lock = true;
		/* 
		var today = $util.yyyyMMdd();
		var currentDate = t1;
		var current = $util.yyyyMMdd(currentDate);
		var current_yesterday_milliseconds = currentDate.getTime() - 1000 * 60 * 60 * 24;
		var current_yesterdayDate = t1;
		current_yesterdayDate.setTime(current_yesterday_milliseconds);
		var current_yesterday = $util.yyyyMMdd(current_yesterdayDate);
		 */
		t1 = "";
		if ($("#datepicker").val() == "") {
			t1 = new XDate().toString("yyyy-MM-dd");
		} else {
			t1 = new XDate($("#datepicker").val()).toString("yyyy-MM-dd");
		}
		var qeuryString = "";
		qeuryString += "id=10";
		qeuryString += "&today=" + new XDate(t1).toString("yyyyMMdd");
		qeuryString += "&yesterday=" + new XDate(t1).addDays(-1).toString("yyyyMMdd");
		qeuryString += "&yesterday2=" + new XDate(t1).addDays(-2).toString("yyyyMMdd");
		//var datable=$('#example').dataTable();
		$.ajax({
			type : "get",
			url : $util.data_service_getconfig + qeuryString,
			dataType : "json",
			timeout : 500,
			success : function(data) {
				loadData(data);
				lock = false;
			},
			error : function(e) {
				$.ajax({
					type : "get",
					url : $util.data_service_getconfig_bak + qeuryString,
					dataType : "json",
					success : function(data2) {
						loadData(data2);
						lock = false;
					},
					error : function(e2) {
						lock = false;
					}
				});
			}
		});
	};

	var loadData = function(data) {
		table.destroy();
		var tbody = $("#example>tbody");
		tbody.html("");
		var rst = eval(data);
		var values = rst.details.today_hour.values;
		var yesterday_values = rst.details.yesterday_hour.values;
		for ( var i in values) {
			var time_name = values[i].time_key.toString().substr(8, 10);
			// today，大于当前小时的不显示
			if (parseInt($util.HH()) < parseInt(time_name) && isToday()) {
				continue;
			}
			var register_count = values[i].register_count;
			var deal_count = values[i].deal_count;
			var deal_amount = values[i].deal_amount;

			// today，交易额还为0，则不显示，强制延时
			if (deal_amount == 0 && isToday()) {
				continue;
			}

			var register_count_y = yesterday_values[i].register_count;
			var deal_count_y = yesterday_values[i].deal_count;
			var deal_amount_y = yesterday_values[i].deal_amount;

			var register_count_class = register_count_y <= register_count ? "red" : "green";
			var deal_count_class = deal_count_y <= deal_count ? "red" : "green";
			var deal_amount_class = deal_amount_y <= deal_amount ? "red" : "green";

			// 当前的小时
			if ("" + time_name == "" + $util.HH() && isToday()) {
				var tr = '<tr class="nowhour">';
				tr += '<td class="gray">' + time_name + '</td>';
				tr += '<td class="shine"><span class="">' + $util.toFixed2(deal_amount) + '</span><i class="fa fa-circle-o-notch fa-pulse fa-1x fa-fw"></i></td>';
				tr += '<td class="shine"><span class="">' + $util.toFixed0(deal_count) + '</span><i class="fa fa-circle-o-notch fa-pulse fa-1x fa-fw"></i></td>';
				tr += '<td class="shine"><span class="">' + $util.toFixed0(register_count) + '</span><i class="fa fa-circle-o-notch fa-pulse fa-1x fa-fw"></i></td>';
				tr += '</tr>';
				tbody.append($(tr));
				continue;
			}
			// 不是当前小时
			/* var up = '&nbsp;↑';
			var down = '&nbsp;↓'; */
			var up = '    <i class="fa fa-arrow-up" aria-hidden="true"></i>';
			var down = '    <i class="fa fa-arrow-down" aria-hidden="true"></i>';
			deal_amount = $util.toFixed2(deal_amount) + (deal_amount_y <= deal_amount ? up : down);
			deal_count = $util.toFixed0(deal_count) + (deal_count_y <= deal_count ? up : down);
			register_count = $util.toFixed0(register_count) + (register_count_y <= register_count ? up : down);

			var tr = '<tr>';
			tr += '<td class="gray">' + time_name + '</td>';
			tr += '<td class="' + deal_amount_class + '">' + deal_amount + '</td>';
			tr += '<td class="' + deal_count_class + '">' + deal_count + '</td>';
			tr += '<td class="' + register_count_class + '">' + register_count + '</td>';
			tr += '</tr>';
			tbody.append($(tr));
		}
		// 当日累计
		if (rst.details.today_total.values.length > 0) {
			var tr = '<tr class="total">';
			tr += '<td><span style="display:none;">-d.</span>当日累计</td>';
			tr += '<td>' + $util.toFixed2(rst.details.today_total.values[0].deal_amount) + '</td>';
			tr += '<td>' + $util.toFixed0(rst.details.today_total.values[0].deal_count) + '</td>';
			tr += '<td>' + $util.toFixed0(rst.details.today_total.values[0].register_count) + '</td>';
			tr += '</tr>';
			tbody.append($(tr));
		}
		// 昨日累计
		if (rst.details.yesterday_total.values.length > 0) {
			var tr = '<tr class="total">';
			tr += '<td><span style="display:none;">-c.</span>昨日累计</td>';
			tr += '<td>' + $util.toFixed2(rst.details.yesterday_total.values[0].deal_amount) + '</td>';
			tr += '<td>' + $util.toFixed0(rst.details.yesterday_total.values[0].deal_count) + '</td>';
			tr += '<td>' + $util.toFixed0(rst.details.yesterday_total.values[0].register_count) + '</td>';
			tr += '</tr>';
			tbody.append($(tr));
		}
		// 前日累计
		if (rst.details.yesterday2_total.values.length > 0) {
			var tr = '<tr class="total">';
			tr += '<td><span style="display:none;">-b.</span>前日累计</td>';
			tr += '<td>' + $util.toFixed2(rst.details.yesterday2_total.values[0].deal_amount) + '</td>';
			tr += '<td>' + $util.toFixed0(rst.details.yesterday2_total.values[0].deal_count) + '</td>';
			tr += '<td>' + $util.toFixed0(rst.details.yesterday2_total.values[0].register_count) + '</td>';
			tr += '</tr>';
			tbody.append($(tr));
		}
		// 历史累计
		if (rst.details.history.values.length > 0) {
			var tr = '<tr class="total">';
			tr += '<td ><span style="display:none;">-a.</span>历史累计</td>';
			tr += '<td>' + $util.toFixed2(rst.details.history.values[0].deal_amount) + '</td>';
			tr += '<td>' + $util.toFixed0(rst.details.history.values[0].deal_count) + '</td>';
			tr += '<td>' + $util.toFixed0(rst.details.history.values[0].register_count) + '</td>';
			tr += '</tr>';
			tbody.append($(tr));
		}
		// 绑定table
		table = $('#example').DataTable({
			bAutoWidth : false,
			scrollY : height - 80,
			scrollX : true,
			scrollCollapse : true,
			scroller : true,
			paging : false,
			"searching" : false,
			info : false,
			fixedColumns : {
				leftColumns : 1
			},
			"order" : [ [ 0, "desc" ] ],
			"aoColumns" : [ {
				"orderSequence" : [ "desc", "asc" ]
			}, {
				"orderSequence" : [ "desc", "asc" ]
			}, {
				"orderSequence" : [ "desc", "asc" ]
			}, {
				"orderSequence" : [ "desc", "asc" ]
			} ]
		});
		/* table.DataTable({
			bDestroy : true,
			bAutoWidth : true
		}); */
		/* alert(width);
		//width = width > $('#example').width() ? $('#example').width() : width;
		alert(width);
		$("#example").width(width);
		$("div.dataTables_wrapper").width(width); */
		//$("#example").width("100%");
		//table.fnAdjustColumnSizing(false);
		//$("#example_wrapper").width("100%");
		//$("div .dataTables_wrapper").width("100%");
		//$("div .dataTables_scrollHeadInner").width("100%");
		//$("div .dataTables_scrollHeadInner > .stripe").width("100%");
		//table.fnDraw();
	};

	var referData2NowHHTD = function(data) {
		var rst = eval(data);
		var today_hours = rst.details.today_hour.values;
		for ( var i in today_hours) {
			var time_name = today_hours[i].time_key.toString().substr(8, 10);
			var register_count = today_hours[i].register_count;
			var deal_count = today_hours[i].deal_count;
			var deal_amount = today_hours[i].deal_amount;
			// 当前的小时
			if ("" + time_name == "" + $util.HH() && isToday()) {
				var tr = $(".nowhour");
				if (tr.find(">td").eq(1).find(">span").text() != $util.toFixed2(deal_amount)) {
					tr.find(">td").eq(1).find(">span").text($util.toFixed2(deal_amount));
					tr.find(">td").eq(1).find(">span").addClass("blink");
				}
				if (tr.find(">td").eq(2).find(">span").text() != $util.toFixed0(deal_count)) {
					tr.find(">td").eq(2).find(">span").text($util.toFixed0(deal_count));
					tr.find(">td").eq(2).find(">span").addClass("blink");
				}
				if (tr.find(">td").eq(3).find(">span").text() != $util.toFixed0(register_count)) {
					tr.find(">td").eq(3).find(">span").text($util.toFixed0(register_count));
					tr.find(">td").eq(3).find(">span").addClass("blink");
				}
				setTimeout("cancelBlink()", 1500);
			}
		}
	};

	var cancelBlink = function() {
		var tr = $(".nowhour .blink").removeClass("blink");
	};

	var _HH = $util.HH();
	var referNow = function() {
		// 如果没有当前小时的标签
		if (lock || !isToday()) {
			return;
		}
		lock = true;
		// 过了当前小时
		if (_HH != $util.HH()) {
			// pass
		} else {
			// console.log('referNow---' + new XDate().toString("yyyy-MM-dd HH:mm:ss"));
			var qeuryString = "";
			qeuryString += "id=10";
			qeuryString += "&today=" + new XDate(t1).toString("yyyyMMdd");
			qeuryString += "&detailskey=today_hour";
			$.ajax({
				type : "get",
				url : $util.data_service_getconfig + qeuryString,
				dataType : "json",
				timeout : 500,
				success : function(data) {
					referData2NowHHTD(data);
					lock = false;
				},
				error : function(e) {
					$.ajax({
						type : "get",
						url : $util.data_service_getconfig_bak + qeuryString,
						dataType : "json",
						success : function(data2) {
							referData2NowHHTD(data2);
							lock = false;
						},
						error : function(e2) {
							lock = false;
						}
					});
				}
			});
		}
	};
	setInterval('referNow()', 5000);
</script>
</head>
<body style="overflow-x: hidden">
	<!-- <span>选择日期：</span> -->
	<div class="top_container">
		<div class="top_left">
			<span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
		</div>
		<div class="top_mid">
			<input id="datepicker" style="height: 30px; width: 100%;" class="mbsc-comp" readonly type="text">
		</div>
		<div class="top_right">
			<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
		</div>
	</div>
	<table id="example" class="stripe row-border order-column">
		<thead>
			<tr class="gray">
				<th style="color: #777">小时</th>
				<th style="color: #777">交易额(万元)</th>
				<th style="color: #777">交易人数</th>
				<th style="color: #777">注册人数</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</body>
</html>